WindowsFormsApp1/Web References/Sensor/Sensor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.apache.org/axis2" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.apache.org/axis2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
      <xs:element name="getId">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setFechaUltModif">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="fechaUltModif" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFechaUltModif">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getFechaUltModifResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getLed">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getLedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setSensor">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="setLed">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="led" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFecha">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getFechaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVolumen">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getVolumenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setVolumen">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="v" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSensor">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getSensorRequest">
    <wsdl:part name="parameters" element="ns:getSensor" />
  </wsdl:message>
  <wsdl:message name="getFechaRequest">
    <wsdl:part name="parameters" element="ns:getFecha" />
  </wsdl:message>
  <wsdl:message name="getFechaResponse">
    <wsdl:part name="parameters" element="ns:getFechaResponse" />
  </wsdl:message>
  <wsdl:message name="getIdRequest">
    <wsdl:part name="parameters" element="ns:getId" />
  </wsdl:message>
  <wsdl:message name="getIdResponse">
    <wsdl:part name="parameters" element="ns:getIdResponse" />
  </wsdl:message>
  <wsdl:message name="getVolumenRequest">
    <wsdl:part name="parameters" element="ns:getVolumen" />
  </wsdl:message>
  <wsdl:message name="getVolumenResponse">
    <wsdl:part name="parameters" element="ns:getVolumenResponse" />
  </wsdl:message>
  <wsdl:message name="setFechaUltModifRequest">
    <wsdl:part name="parameters" element="ns:setFechaUltModif" />
  </wsdl:message>
  <wsdl:message name="getLedRequest">
    <wsdl:part name="parameters" element="ns:getLed" />
  </wsdl:message>
  <wsdl:message name="getLedResponse">
    <wsdl:part name="parameters" element="ns:getLedResponse" />
  </wsdl:message>
  <wsdl:message name="setLedRequest">
    <wsdl:part name="parameters" element="ns:setLed" />
  </wsdl:message>
  <wsdl:message name="getFechaUltModifRequest">
    <wsdl:part name="parameters" element="ns:getFechaUltModif" />
  </wsdl:message>
  <wsdl:message name="getFechaUltModifResponse">
    <wsdl:part name="parameters" element="ns:getFechaUltModifResponse" />
  </wsdl:message>
  <wsdl:message name="setVolumenRequest">
    <wsdl:part name="parameters" element="ns:setVolumen" />
  </wsdl:message>
  <wsdl:message name="setSensorRequest">
    <wsdl:part name="parameters" element="ns:setSensor" />
  </wsdl:message>
  <wsdl:portType name="SensorPortType">
    <wsdl:operation name="getSensor">
      <wsdl:input wsaw:Action="urn:getSensor" message="ns:getSensorRequest" />
    </wsdl:operation>
    <wsdl:operation name="getFecha">
      <wsdl:input wsaw:Action="urn:getFecha" message="ns:getFechaRequest" />
      <wsdl:output wsaw:Action="urn:getFechaResponse" message="ns:getFechaResponse" />
    </wsdl:operation>
    <wsdl:operation name="getId">
      <wsdl:input wsaw:Action="urn:getId" message="ns:getIdRequest" />
      <wsdl:output wsaw:Action="urn:getIdResponse" message="ns:getIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVolumen">
      <wsdl:input wsaw:Action="urn:getVolumen" message="ns:getVolumenRequest" />
      <wsdl:output wsaw:Action="urn:getVolumenResponse" message="ns:getVolumenResponse" />
    </wsdl:operation>
    <wsdl:operation name="setFechaUltModif">
      <wsdl:input wsaw:Action="urn:setFechaUltModif" message="ns:setFechaUltModifRequest" />
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <wsdl:input wsaw:Action="urn:getLed" message="ns:getLedRequest" />
      <wsdl:output wsaw:Action="urn:getLedResponse" message="ns:getLedResponse" />
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <wsdl:input wsaw:Action="urn:setLed" message="ns:setLedRequest" />
    </wsdl:operation>
    <wsdl:operation name="getFechaUltModif">
      <wsdl:input wsaw:Action="urn:getFechaUltModif" message="ns:getFechaUltModifRequest" />
      <wsdl:output wsaw:Action="urn:getFechaUltModifResponse" message="ns:getFechaUltModifResponse" />
    </wsdl:operation>
    <wsdl:operation name="setVolumen">
      <wsdl:input wsaw:Action="urn:setVolumen" message="ns:setVolumenRequest" />
    </wsdl:operation>
    <wsdl:operation name="setSensor">
      <wsdl:input wsaw:Action="urn:setSensor" message="ns:setSensorRequest" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SensorSoap11Binding" type="ns:SensorPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSensor">
      <soap:operation soapAction="urn:getSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getFecha">
      <soap:operation soapAction="urn:getFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getId">
      <soap:operation soapAction="urn:getId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFechaUltModif">
      <soap:operation soapAction="urn:setFechaUltModif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getVolumen">
      <soap:operation soapAction="urn:getVolumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <soap:operation soapAction="urn:getLed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <soap:operation soapAction="urn:setLed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getFechaUltModif">
      <soap:operation soapAction="urn:getFechaUltModif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVolumen">
      <soap:operation soapAction="urn:setVolumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setSensor">
      <soap:operation soapAction="urn:setSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorSoap12Binding" type="ns:SensorPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSensor">
      <soap12:operation soapAction="urn:getSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getFecha">
      <soap12:operation soapAction="urn:getFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getId">
      <soap12:operation soapAction="urn:getId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFechaUltModif">
      <soap12:operation soapAction="urn:setFechaUltModif" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getVolumen">
      <soap12:operation soapAction="urn:getVolumen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <soap12:operation soapAction="urn:getLed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <soap12:operation soapAction="urn:setLed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getFechaUltModif">
      <soap12:operation soapAction="urn:getFechaUltModif" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVolumen">
      <soap12:operation soapAction="urn:setVolumen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setSensor">
      <soap12:operation soapAction="urn:setSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorHttpBinding" type="ns:SensorPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getSensor">
      <http:operation location="getSensor" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getFecha">
      <http:operation location="getFecha" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getId">
      <http:operation location="getId" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFechaUltModif">
      <http:operation location="setFechaUltModif" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getVolumen">
      <http:operation location="getVolumen" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLed">
      <http:operation location="getLed" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLed">
      <http:operation location="setLed" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getFechaUltModif">
      <http:operation location="getFechaUltModif" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setVolumen">
      <http:operation location="setVolumen" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setSensor">
      <http:operation location="setSensor" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sensor">
    <wsdl:port name="SensorHttpSoap11Endpoint" binding="ns:SensorSoap11Binding">
      <soap:address location="http://localhost:9080/SD-SOAP/services/Sensor.SensorHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SensorHttpSoap12Endpoint" binding="ns:SensorSoap12Binding">
      <soap12:address location="http://localhost:9080/SD-SOAP/services/Sensor.SensorHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SensorHttpEndpoint" binding="ns:SensorHttpBinding">
      <http:address location="http://localhost:9080/SD-SOAP/services/Sensor.SensorHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>